body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #EEEDE7;
    
}
#footer{
    position: absolute;
    bottom: 0;
    font-size: 18px;
}
#footer-link{
    text-decoration: none;
    color: inherit;
}
button{
    font-size: 24px;
    padding: 10px 20px;
    background-color: #B9B7BD;
    border: none;
    border-radius: 10px;
}
button:active{
    background-color: #868B8E;
    color: #EEEDE7;
    box-shadow: 2px 2px 5px #212529;
}
p, button, div{
    color: #0A0708;
}
#main{  
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #E7D2CC;
    padding: 60px;  
    border-radius: 8px; 
    gap: 40px;
    min-width: 520px;
}
#button-div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#title, #subtitle, p{
    margin:0;
}
#subtitle{
    text-align: center;
}
#log{
    width: 100%;
    border: 1px solid #B9B7BD;
    padding: 10px;
    background-color: #EEEDE7;
}
.fs48{
    font-size: 48px;
}
.fs36{
    font-size: 36px;
}
.fs24{
    font-size: 24px;
}
.fs18{
    font-size: 18px;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.grey{
    background-color: lightgray;
}